@import "~highlight.js/styles/atom-one-dark.css";
@import "~@lgv/visualization-chart/src/example/style/index.css";

.lgv-node {
    cursor: pointer;
    stroke: grey;
}

.lgv-node:hover {
    fill: #21787c;
    -moz-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

.lgv-label {
    transform: translateY(0.5em);
}

.lgv-label-partial:last-of-type {
    display: none;
}